<h1 class= "text-center padding"> Search Results </h1>
<div class="row">
<% if @tvsearch.total_results != 0 %>
<div class="col-sm-4">
<h3>TV Shows:</h3>
<%@tvsearch.results.each do |t| %>
<p>
<%= link_to t.name, tv_path(t.id) %>
</p>
<% end %>
<% end %>
</div>

<% if @moviesearch.total_results != 0 %>
<div class="col-sm-4">
<h3>Movie:</h3>
<% @moviesearch.results.each do |m| %>
<p>
<%= link_to m.original_title, movie_path(m.id) %>
</p>
<% end %>
</div>
<% end %>




<% if @personsearch.total_results != 0 %>
<div class="col-sm-4">
<h3>Person:</h3>
<% @personsearch.results.each do |p| %>
<p>
<%= link_to p.name, person_path(p.id) %>
</p>
<% end %>
</div>
<% end %>
</div>
